@model KPMGLoginForm.Models.TblUser

@{
    ViewData["Title"] = "Login";
}

</br><br />
<div class="container jumbotron bg-light" style="width:35%">
    <form asp-action="Login">
        <div class="card-header-pills bg-dark text-white">
            <h2 style="text-align:center">Login</h2>
        </div>
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="text-danger">@ViewBag.ErrorMessage</p>
        }
        <div class="form-group" style="80%">
            <label asp-for="UserEmail" class="text-dark"></label>
            <div class="input-group mb-2">
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" style="80%">
            <label asp-for="Password" class="text-dark"></label>
            <div class="input-group mb-2">
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" style="80%">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
        @Html.ActionLink("New User? Register here", "Register")
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
