@{
    ViewBag.Title = "UserDashboard";
}

@if(ViewBag.Username != null)
{
    <p style="font-size:40px;">Welcome @ViewBag.Username</p>
}
<br />
<form asp-action="Login">
    <div class="form-group">
        <input type="submit" value="Logout" class="btn btn-primary" />
    </div>
</form>